<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/qrcode.jpg" alt="logo" width="264" height="78"></a>
            <p>
                Our tuition center provides education to the kids in a fun and enjoyable way
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/testimonials">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">#11-20 Vision Exchange, 2 Venture Drive, 608526</a>
                    </li>
                    <li>
                        <a href="tel:65-9182-3072">T: (65) 9182-3072</a>
                    </li>
                    <li>
                        <a href="mailto:fiona7577@hotmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>